#landing {
    background: url(/src/assets/images/minimalist-nature-wallpaper.jpg)
        no-repeat center center fixed !important;
    background-size: cover !important;
    height: 100vh !important;
}
