section {
    min-height: 100vh;
}

.scroll {
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* -ms-scroll-snap-type: y mandatory; */
    scroll-snap-type: y mandatory;
}

.scroll-snap {
    scroll-snap-align: start;
}
