* {
    font-family: "Open Sans", sans-serif;
}

section {
    min-height: 100vh;
    padding-top: 80px;
}

.scroll {
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* -ms-scroll-snap-type: y mandatory; */
    scroll-snap-type: y mandatory;
}

.scroll-snap {
    scroll-snap-align: start;
}

.btn {
    color: #769fb6 !important;
    border-color: #769fb6 !important;
}

.btn:hover {
    color: white !important;
    background-color: #769fb6 !important;
}
